.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/yealink/resources/firmware/*
app/applications
app/bdr
app/billing_sync
app/bulk_account_settings
app/call_center_announce
app/call_center_wallboard
app/chrome_click_to_dial
app/client_apps
app/cnam
app/company_directory
app/custom_permissions
app/device_logs/
app/domain_counts
app/edit
app/emergency_locations
app/help
app/messages
app/mobile_twinning
app/ms_teams_direct_routing
app/network_e911
app/polycom_dir
app/polycom_dir
app/profiles
app/providers
app/scripts/resources/scripts/app/servers/resources/clear_proxy_cache.lua
app/sessiontalk
app/sms_app_rates
app/sms_apps
app/sms_messages
app/sms_to_email
app/tts_recordings
app/webphone
app/zoiper
app/zoiper_dir
app/zoiper_dir
host.htm
sms_engine
sofia_status.htm
